html, *, *:before, *:after {
  box-sizing: border-box;
}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd{
  /* 默认有边距，都要清除 */
  margin: 0;
  padding: 0;
  /* 去掉列表的原点 */
  list-style: none;
  user-select: none;
}

/*行内块元素*/
input,img{
  margin: 0;
  padding: 0;
  border: 0 none;
  outline-style: none;
  vertical-align: bottom; 
}

/*行内元素*/
a,a:active,a:visited{
  text-decoration: none;
}

textarea{
  /* 边框清零 */
  border:none;
  /* 轮廓线清零 */
  outline: none;
  /* 防止文本域被随意拖拽 */
  resize: none;
}

i{
  /*文字样式*/
  font-style: normal; 
}

table{
  /*边框合并*/
  border-collapse:collapse;
  border-spacing:0;
}

.fill {
  height: 100%;
  width: 100%;
}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}